<div class="settings">
  <div class="settings__content">
    <img class="settings__img" src="../../../../assets/images/settings.png" alt="settings">
    <div class="settings__buttons" [formGroup]="form">
      <div>
        <input placeholder="Change name" formControlName="name"/>
      </div>
      <div>
        <button class="thirdly-button renameButton" type="button" (click)="renameUser()">Rename</button>
      </div>
      <div>
        <button class="thirdly-button changePasswordButton" type="button" (click)="dialogChangePass.openDialog()">Change
          password
        </button>
      </div>

    </div>
    <div class="settings__account__info">
      <img class="settings__avatar" src="{{imageUrl}}" alt="settings-avatar">

      <div>
        <div class=" text-center">
          <label class="secondary-button changeAvatarButton" for="image_uploads">Choose images to upload </label>
          <input type="file" id="image_uploads" hidden
                 class="form-control"
                 (change)="onChange($event)">
        </div>
        <button class="thirdly-button uploadButton" (click)="onUpload()">Upload</button>
        <h4 title="name">{{person?.name}}</h4>
        <h4 title="email">{{person?.email}}</h4>
      </div>
    </div>
  </div>
</div>
