<div class="settings">
  <div class="settings__content">
    <img class="settings__img" src="../../../../assets/images/settings.png" alt="settings">
    <div class="settings__buttons">
      <div> <button class="thirdly-button renameButton " type="button">Rename</button> </div>
      <div> <button class="thirdly-button changeEmailButton" type="button">Change email</button> </div>
      <div> <button class="thirdly-button changeEmailButton" type="button" (click)="dialogChangePass.openDialog()">Change password</button> </div>
      <div> <button class="thirdly-button changeEmailButton" type="button">Change avatar</button></div>
    </div>
    <div class="settings__account__info">
    <img class="settings__avatar" src="../../../../assets/images/admin-avatar.png" alt="settings-avatar">
      <label title="name">{{person.name}}</label>
      <label title="email">{{person.email}}</label>
    </div>
  </div>
</div>
