<div class="settings">
  <div class="settings__content">
    <img class="settings__img" src="../../../../assets/images/settings.png" alt="settings">
    <div class="settings__buttons" [formGroup]="form" >

<!--      <div class="submit-row">-->
<!--        <label class="row-label" for="name">Full name</label>-->
<!--        <mat-form-field class="form-field">-->
<!--          <input required id="name" matInput placeholder="Full name" [(ngModel)]="user.name"-->
<!--                 name="name" #fullName="ngModel" pattern="^\S.{2,}[a-zA-Z0-9_]$">-->
<!--        </mat-form-field>-->
<!--      </div>-->
      <div>
        <input placeholder="Change name" formControlName="name" (click)="updateName()"/>
      </div>
      <div> <button class="thirdly-button renameButton " type="button">Rename</button> </div>
      <div> <button class="thirdly-button changePasswordButton" type="button" (click)="dialogChangePass.openDialog()">Change password</button> </div>

    </div>
    <div class="settings__account__info">
    <img class="settings__avatar" src="../../../../assets/images/admin-avatar.png" alt="settings-avatar"><div>
      <button class="secondary-button changeAvatarButton" type="button">Change profile photo</button></div>
<!--      <label title="name">{{user.name}}</label>-->
<!--      <label title="email">{{user.email}}</label>-->
    </div>
  </div>
</div>
