<div class="center-content">
  <mat-card class="example-card">
    <mat-card-header>

      <mat-card-title>Persimmon Cocktails</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-tab-group>
        <form [formGroup]="recoverPasswordReceive">

          <mat-tab label="Enter new Password">


            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>New Password</mat-label>
              <input formControlName="newPassword" type="password" matInput placeholder="Password"/>
              <mat-icon matSuffix>enhanced_encryption</mat-icon>
            </mat-form-field>

            <div class="text-danger-block-1"><small
              *ngIf="recoverPasswordReceive.get('newPassword').invalid && recoverPasswordReceive.get('newPassword').touched"
              class="text-danger-1">
              Password is Required(Password must contains at least one capital letter, lower case letter and
              number)</small></div>

            <button [disabled]="recoverPasswordReceive.invalid" mat-button color="primary"
                    (click)="setNewUserPassword()">Change
              Password
            </button>
          </mat-tab>
        </form>
      </mat-tab-group>

    </mat-card-content>
    <mat-card-actions>

    </mat-card-actions>
  </mat-card>

</div>
