<div class="main" >
  <form [formGroup]="searchIngredientsForm" autocomplete="off" class="search-form"
        (submit)="getIngredients()">
    <mat-card-content>
      <div class="search-query-input-and-button">
        <mat-form-field class="search-query-input">
          <mat-label>Search ingredients</mat-label>
          <input matInput [(ngModel)]="findByNameIngredient.query" type="text" placeholder="Ingredient name" formControlName="name"
                 id="ingredients_search_name" (keypress)="checkValue($event)">
          <mat-hint align="end">More than 2 characters, space and hyphen are available.</mat-hint>
        </mat-form-field>
        <button class="search-submit-button primary-button" type="submit" value="submit" [disabled]="!searchIngredientsForm.valid" >Search</button>
      </div>
    </mat-card-content>
    <small
      *ngIf="searchIngredientsForm.get('name').invalid && searchIngredientsForm.get('name').touched  && searchIngredientsForm != ''"
      class="text-danger">Incorrect format</small>
  </form>
  <button class="secondary-button ingredient-add" type="button" routerLink="/ingredients/add">Add ingredient </button>
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
         class="mat-elevation-z8">

    <ng-container matColumnDef="photoId">
      <th mat-header-cell *matHeaderCellDef sortActionDescription="">
        Photo
      </th>
      <td class="photo-container"  mat-cell *matCellDef="let element let i= index"><img class="photo" src="{{imagesUrl[i]}}" alt="photo"></td>
    </ng-container>

    <ng-container matColumnDef="ingredientId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by ID">

      </th>
      <td mat-cell *matCellDef="let element"> </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
        Name
      </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by category">
        Category
      </th>
      <td mat-cell *matCellDef="let element"> {{element.category.name}} </td>
    </ng-container>

    <ng-container matColumnDef="dynamicButton">
      <th mat-header-cell *matHeaderCellDef>
      </th>
      <td class="container-button-edit" mat-cell *matCellDef="let element">
        <button class="primary-button button-edit" [hidden]="!canEdit" [routerLink]="'edit/' + element.ingredientId">EDIT</button>
        <button class="primary-button button-edit" [hidden]="canEdit" (click)="addToStock(element.ingredientId)">Add to stock</button>
      </td>
    </ng-container>



    <ng-container matColumnDef="statusButton">
      <th mat-header-cell *matHeaderCellDef>

      </th>
      <td class="container-button-status" mat-cell *matCellDef="let element">
        <button class="primary-button button-delete" [hidden]="!canEdit" [routerLink]="'delete/' + element.ingredientId">DELETE</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
