<h3 *ngIf="!loaded">There's no such cocktail!</h3>
<form [formGroup]="editCocktailForm" (submit)="editCocktail()" *ngIf="loaded" class="root">
  <div class="header-buttons">
    <button class="primary-button" *ngIf="viewMode && canEdit" (click)="goToMode(false)">Go to edit mode</button>
    <button class="primary-button" *ngIf="!viewMode && canEdit" (click)="goToMode(true)">Go to view mode</button>
    <button class="primary-button" *ngIf="canEdit" (click)="deleteCocktail(cocktailData.dishId)">Delete</button>
  </div>
  <div class="photo-and-headlines">
    <img [src]="cocktailData.image === null ? defaultCocktailUrl : cocktailData.image.urlMiddle" class="photo-image">
    <div class="text">
      <h3 *ngIf="viewMode">{{cocktailData.name}}</h3>
      <label *ngIf="!viewMode" for="edit_cocktail_name">Cocktail name: </label>
      <input *ngIf="!viewMode" matInput [(ngModel)]="editedCocktailData.name" type="text" placeholder="Cocktail name"
             formControlName="name"
             id="edit_cocktail_name">
      <p *ngIf="viewMode && cocktailData.description !== null">{{cocktailData.description}}</p>
      <label *ngIf="!viewMode" for="edit_cocktail_description">Cocktail description: </label>
      <input *ngIf="!viewMode" matInput [(ngModel)]="editedCocktailData.description" type="text" placeholder="Cocktail description"
             formControlName="description"
             id="edit_cocktail_description">
      <div *ngIf="viewMode">
        <span>Likes: {{cocktailData.likes}}</span>
        <button [disabled]="cocktailData.hasLike === null || cocktailData.hasLike === true"
          (click)="likeCocktail()"
          class="like-button primary-button">Like</button>
      </div>
      <p *ngIf="viewMode && canEdit">{{cocktailData.isActive ? "ACTIVE" : "INACTIVE"}}</p>
      <mat-radio-group
        *ngIf="!viewMode"
        formControlName="isActive"
        [(ngModel)]="editedCocktailData.isActive">
        <mat-radio-button [value]="true">Active</mat-radio-button>
        <mat-radio-button [value]="false">Inactive</mat-radio-button>
      </mat-radio-group>
      <p>{{cocktailData.dishCategoryName === null ? "No category" : cocktailData.dishCategoryName}}</p>
      <p>{{cocktailData.dishType === null ? "No dish type" : cocktailData.dishType}}</p>
      <button *ngIf="!viewMode" class="primary-button">Save</button>
    </div>
  </div>
  <div class="labels">
    <div class="label" *ngFor="let label of cocktailData.labels">
      {{label}}
    </div>
  </div>
  <div class="receipt">
    <p *ngFor="let line of divideReceiptIntoLines(cocktailData.receipt)">{{line}}</p>
  </div>
  <div class="ingredients">
    <h4>Ingredients</h4>
    <div class="ingredient-list">
      <li class="ingredient" *ngFor="let ingredient of cocktailData.ingredientList">
        <img class="ingredient-small-photo" [src]="ingredient.photoId === null ? defaultIngredientUrl : ingredient.photoId">
        <div>{{ingredient.name}}</div>
        <div>{{ingredient.category === null ? "No category" : ingredient.category.name}}</div>
        <button *ngIf="canEdit" (click)="deleteIngredient(ingredient.ingredientId)">X</button>
      </li>
    </div>
  </div>
  <div class="kitchenwares">
    <h4>Kitchenware</h4>
    <div class="kitchenware-list">
      <li class="kitchenware" *ngFor="let kitchenware of cocktailData.kitchenwareList">
        <img class="kitchenware-small-photo" [src]="kitchenware.photoId === null ? defaultKitchenwareUrl : kitchenware.photoId">
        <div>{{kitchenware.name}}</div>
        <div>{{kitchenware.category === null ? "No category" : kitchenware.category.name}}</div>
        <button *ngIf="canEdit" (click)="deleteKitchenware(kitchenware.kitchenwareId)">X</button>
      </li>
    </div>
  </div>
</form>
