.root{
  padding: 1em;
}

.photo-image{
  max-width: 40vw;
}

.photo-and-headlines{
  display: flex;
  flex-direction: row;
}

.photo-and-headlines .text{
  padding-left: 1em;
}

.labels{
  display: flex;
  flex-direction: row;
}

.label{
  font-size: 1.5em;
  padding: 0.5em;
  margin-right: 1.5em;
}

.like-button{
  margin-left: 2em;
}

.header-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0.5em;
}

.text{
  display: flex;
  flex-direction: column;
}

.edit-label-text{
  /*padding-right: ;*/
}

button{
  border-radius: 21px;
  border: 1px solid #FFF7F0;
  color: #FFF7F0;
  padding: 3px 10px;
  background-color: #4E5953;
}

.labels-group{
  margin: 1em 0;
}



.ingredient-with-image{
  list-style-type:none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25vw;
  padding: 0.5em;
  margin: 0.5em;
  border: 3px solid lightgray;
  border-radius: 0.5em;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: center;
}

.ingredient-small-photo, .kitchenware-small-photo{
  height: 20vh;
  object-fit: contain;
  max-width: 80%;
}

.ingredient-with-image-list{
  display: flex;
  flex-flow: row wrap;
}

.ingredient-name, .ingredient-category{
  margin: 0.5em 1em;
  width: auto;
}
