.search-field {
  margin: 10px;
}

.search-form{
  padding: 10px;
}

.found-list-table{
  width: 100%;
}

.cocktail-small-photo{
  width: 100%;

}

.cocktail-small-photo-container{
  max-width: 20vw;
  max-height: 40vh;
}

.mat-card-content{
  display: flex;
  flex-direction: row;
}

.sort-by-div{
  display: flex;
  flex-direction: column;
}

.mat-radio-group{
  display: flex;
  flex-direction: column;
}

.search-submit-button{
  height: 2em;
}

.search-query-input-and-button{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5em;
}

.search-query-input{
  padding-bottom: 1em;
}

.sort-by-radio-div{
  display: flex;
  flex-direction: row;
  align-items: center;
}
