<div>
  <form [formGroup]="searchCocktailsForm" autocomplete="off" class="search-form"
        (submit)="getCocktails()">
    <mat-card-content>
      <div class="search-query-input-and-button">
        <mat-form-field class="search-query-input">
          <mat-label>Search cocktails</mat-label>
          <input matInput [(ngModel)]="currentQuery.query" type="text" placeholder="Cocktail name"
                 formControlName="name"
                 id="cocktails_search_name" (keypress)="checkValue($event)">
          <mat-hint [hidden]="currentQuery.query == null || currentQuery.query.length != 1" align="end">More than 2 characters, space and hyphen are available. Or empty.</mat-hint>
          <!--        <mat-icon matSuffix>supervisor_account</mat-icon>-->
        </mat-form-field>
        <button class="search-submit-button primary-button" type="submit" value="submit"
                [disabled]="!searchCocktailsForm.valid">Search
        </button>
      </div>
      <div class="search-field sort-by-div">
        <label id="sort-by-radio-group-label">Choose the column to sort by</label>
        <div class="sort-by-radio-div">
          <mat-radio-group
            formControlName="sortColumn"
            aria-labelledby="sort-by-radio-group-label"
            class="sort-by-radio-group"
            [(ngModel)]="currentQuery.sortByColumn">
            <mat-radio-button class="sort-by-radio-button" *ngFor="let sortColumn of sortColumns" [value]="sortColumn">
              {{sortColumn}}
            </mat-radio-button>
          </mat-radio-group>
          <mat-radio-group
            formControlName="sortDirection"
            [(ngModel)]="currentQuery.sortDirection">
            <mat-radio-button [value]="true">
              <span class="material-icons">expand_less</span>
            </mat-radio-button>
            <mat-radio-button [value]="false">
              <span class="material-icons">expand_more</span>
            </mat-radio-button>
          </mat-radio-group>

          <mat-radio-group *ngIf="canCreate"
            formControlName="activeMode"
            [(ngModel)]="currentQuery.showActiveMode">
            <mat-radio-button [value]="2">
              <span>Show all</span>
            </mat-radio-button>
            <mat-radio-button [value]="0">
              <span>Only active</span>
            </mat-radio-button>
            <mat-radio-button [value]="1">
              <span>Only inactive</span>
            </mat-radio-button>
          </mat-radio-group>

          <mat-form-field>
            <mat-select placeholder="Category" [(value)]="currentQuery.currentCategory">
              <mat-option *ngFor="let category of categories" [value]="category">
                {{ category.categoryName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <!--      list-->
      <div class="ingredients-search">
        <h4>Search by Specified Ingredients:</h4>
        <div>
          <li  *ngFor="let ingredient of ingredientList">
            <span>{{ingredient.name}}
              <button class="secondary-button"
                      (click)="deleteAddedIngredient(ingredient, ingredient.ingredientId)">X</button>
              </span>
          </li>
        </div>
      </div>
      <div class="input-ingredient">
          <mat-form-field class="example-full-width">
            <input type="text" placeholder="Choose ingredient" matInput
                   [formControl]="ingredientFormControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayIngredientName">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{ option.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <button class="primary-button" (click)="addIngredient()" [disabled]="this.ingredientFormControl.value == null ||
        !this.ingredientFormControl.value.hasOwnProperty('ingredientId')"
          >Add to list</button>
        </div>
    </mat-card-content>

    <mat-card-actions>
    </mat-card-actions>
<!--    <small *ngIf="searchCocktailsForm.get('name').invalid" class="text-danger">Incorrect format</small>-->
<!--    // && searchCocktailsForm.get('name').touched  && searchCocktailsForm != ''-->

    <!--   match-->
    <div [hidden]="!canView" class="check-match-stock">
      <mat-checkbox   formControlName="matchToStock"
                    [(ngModel)]="currentQuery.matchToStock" [checked]="currentQuery.matchToStock">
        <span>Search cocktails match to stock</span>
      </mat-checkbox>
    </div>
  </form>
  <div *ngIf="canCreate" class="new-cocktail-block">
    <button class="primary-button" [routerLink]="['/cocktails/create']">New cocktail</button>
  </div>

  <div class="tiles">
    <div class="cocktail-tile"
         *ngFor="let cocktail of cocktails"
         [class.inactive]="!cocktail.isActive"
         [routerLink]="['/cocktails/', cocktail.dishId]" >
      <img [src]="cocktail.image === null ? defaultPhotoUrl : cocktail.image.urlMiddle">
      <b>{{cocktail.name}}</b>
      <div class="tile-text">
        <div *ngIf="cocktail.description != null" class="tile-description">{{cocktail.description}}</div>
        <div class="cocktail-tile-likes">
          <div>Likes:</div>
          <div>{{cocktail.likes}}</div>
        </div>
        <div *ngIf="cocktail.dishCategoryId !== null" class="cocktail-tile-category">
          {{cocktail.dishCategoryName}}
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="amountOfPages !== null && amountOfPages > 1" class="center">
    <div class="pagination">
      <p *ngIf="currentQuery.page==0">Begin</p>
      <p *ngIf="currentQuery.page!=0" (click)="beginPage()">&laquo;</p>
      <p *ngIf="currentQuery.page>=2" (click)="setPageDiff(-2)">{{currentQuery.page - 1}}</p>
      <p *ngIf="currentQuery.page!=0" (click)="setPageDiff(-1)">{{currentQuery.page}}</p>
      <p class="active">{{currentQuery.page + 1}}</p>
      <p *ngIf="currentQuery.page+1<amountOfPages"
         (click)="setPageDiff(1)">{{currentQuery.page + 2}}</p>
      <p *ngIf="currentQuery.page+2<amountOfPages"
         (click)="setPageDiff(2)">{{currentQuery.page + 3}}</p>
      <p *ngIf="currentQuery.page+1<amountOfPages" (click)="endPage()">&raquo;</p>
      <p *ngIf="currentQuery.page+1==amountOfPages">End</p>
    </div>
  </div>
</div>
