<div>
  <div class="add-kitchenware">
    <h1 *ngIf="!currentKitchenwareId else edit">Create kitchenware</h1>
    <ng-template #edit>
      <h1>Edit kitchenware</h1>
    </ng-template>
  </div>
  <div class="add-kitchenware__content">
    <img class="add-kitchenware__avatar" src="{{imageUrl}}" alt="glass">
    <div [formGroup]="form" class="form">
      <div>
        <label>Name: </label>
        <input placeholder="Kitchenware name" formControlName="name"/>
      </div>
      <div>
        <label>Category: </label>
        <input placeholder="Category" formControlName="category"/>
      </div>
      <div>
        <label>Status: </label>
        <input type="checkbox" formControlName="status">
      </div>
      <div>
        <button *ngIf="!currentKitchenwareId else editButton" class="primary-button createButton" type="button" (click)="createKitchenware()">Create</button>
        <ng-template #editButton>
          <button class="primary-button createButton" type="button" (click)="editKitchenware()">Update</button>
        </ng-template>
        <button class="secondary-button clearButton" type="button" (click)="resetFormHandler()">Clear</button>
      </div>
    </div>


</div>
<div class=" text-center">
  <label class="secondary-button changeAvatarButton" for="image_uploads">Choose images to upload </label>
  <input type="file" id="image_uploads" hidden
         class="form-control"
         (change)="onChange($event)">
  <div class="upload">
    <button class="thirdly-button uploadButton" (click)="onUpload()">Upload</button></div>
</div>
</div>
