.add-kitchenware {
  padding: 10px 20px;
}
.add-kitchenware__avatar {
  margin-left: 20px;
  width: 105px;
  height: 105px;
}
 .add-kitchenware__content{
   display: flex;
   align-items: flex-start;
   margin-left: 20px;
 }

 .form {
   margin-left: 20px;
 }

 .form div {
   margin-bottom: 10px;
 }
.upload{
  margin-left: 6px;
  width: 20%;
}
.text-center{
  margin-left: 5px;
}
