<!--<section *ngIf="active">-->
<!--<form class="col s12" [formGroup]="form" (ngSubmit)="update.emit(form.value)">-->
<!--  <div class="row">-->
<!--    <div class="input-field col s12">-->
<!--      <input id="name" class="validate" formControlName="name">-->
<!--      <label class="active" for="name">Name</label>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="row">-->
<!--    <div class="input-field col s12">-->
<!--      <input id="email" class="validate" formControlName="email">-->
<!--      <label class="active" for="email">Email</label>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="row submit">-->
<!--    <button class="btn waves-effect waves-light btn-small" type="submit">Save-->
<!--      <i class="material-icons right">send</i>-->
<!--    </button>-->
<!--  </div>-->
<!--</form>-->
<!--</section>-->
