.main {
  width: 100%;
}

table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 0 white;
  background-color: #FFF7F0;
  max-height: 500px;
}

th.mat-sort-header-sorted {
  color: black;
}

.avatar {
  padding-top: 5%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
}

.stock-small-photo{
  width: 100%;
  border-radius: 5%;
}

.avatar-container{
  width: 6%;
}

.stock-small-photo-container{
  max-width: 6vw;
  max-height: 6vh;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.container-button-edit, .container-button-status{
  width: 6%;
}

.button-edit{
  margin-right: 10px;
}

.search-form{
  box-shadow: 0 0 0 white;
}

.search-field {
  margin: 10px;
}

.mat-card-content{
  display: flex;
  flex-direction: row;
}

.sort-by-div{
  display: flex;
  flex-direction: column;
}

.mat-radio-group{
  display: flex;
  flex-direction: column;
}

.search-submit-button{
  height: 2em;
}

.search-query-input-and-button{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5em;
}

.search-query-input{
  padding-bottom: 1em;
}


