<div>
  <div class="add-ingredient">
    <h1>Create ingredient</h1>
  </div>
  <div class="add-ingredient__content">
    <img class="add-ingredient__avatar" src="../../../../../assets/images/Orange.jpg" alt="orange">
    <div [formGroup]="form" class="form">
      <div>
        <label>Name: </label>
        <input placeholder="Ingredient name" formControlName="name"/>
      </div>
      <div>
        <label>Category: </label>
        <input placeholder="Category" formControlName="category"/>
      </div>
      <div>
        <button  class="primary-button createButton" type="button" >Create</button>
        <button class="secondary-button clearButton" type="button" (click)="resetFormHandler()">Clear</button>
      </div>
    </div>
  </div>
</div>
