<div>
  <div class="add-moderator">
    <h1 *ngIf="!currentUserId else edit">Create moderator</h1>
    <ng-template #edit>
      <h1>Edit moderator</h1>
    </ng-template>
  </div>
  <div class="add-moderator__content">
    <img class="add-moderator__avatar" src="./assets/images/moder-avatar.png" alt="avatar">
    <div [formGroup]="form" class="form">
      <div>
        <label>Name: </label>
        <input placeholder="Moderator name" formControlName="name"/>
      </div>
      <div>
        <label>Email: </label>
        <input placeholder="Email" formControlName="email"/>
      </div>
<!--      <div>-->
<!--        <label>Status: </label>-->
<!--        <input type="checkbox" formControlName="status">-->
<!--      </div>-->
      <div>
        <button *ngIf="!currentUserId else editButton" class="primary-button createButton" type="button" (click)="createModerator()">Create</button>
        <ng-template #editButton>
          <button class="primary-button createButton" type="button" (click)="editModerator()">Update</button>
        </ng-template>
        <button class="secondary-button clearButton" type="button" (click)="resetFormHandler()">Clear</button>
      </div>
    </div>
  </div>
</div>
