button {
  border-radius: 21px;
  border: 1px solid #FFF7F0;
  color: #FFF7F0;
  padding: 3px 10px;
}

.primary-button {
  background-color: #4E5953;
}
.primary-button:hover {
  background-color: #282D27;
}
.primary-button:active {
  position:relative;
  top:1px;
}

.secondary-button {
  background-color: #282D27;
}
.secondary-button:hover {
  background-color: #141714;
}
.secondary-button:active {
  position:relative;
  top:1px;
}

.thirdly-button{
  margin-top: 10px;
  width: 100%;
  color: white;
  height: 40px;
  background-color: #4E5953;
}

.field{
  background: #FFFFFF;
  border: 1px solid #141714;
  box-sizing: border-box;
  border-radius: 5px;
  color: #141714;
}

.field:active{
  border: #000000;
}

h1 {
  margin: 10px;
  color: #141714;
  font:  small-caps bold 35px/2 cursive;
}

h2 {
  margin: 8px;
  color: #141714;
  font:  small-caps bold 28px/2 cursive;
}

h3 {
  margin: 6px;
  color: #141714;
  font:  small-caps bold 22px/2 cursive;
}

