.primary-button, .secondary-button, .disabled-button {
  border-radius: 21px;
  border: 1px solid #FFF7F0;
  color: #FFF7F0;
  padding: 3px 10px;
}

.primary-button {
  background-color: #4E5953;
}

.primary-button, .thirdly-button:hover {
  background-color: #282D27;
}

.primary-button, .thirdly-button:active {
  position: relative;
  top: 1px;
}

.disabled-button {
  background-color: #808080;
}

.secondary-button {
  background-color: #282D27;
}

.secondary-button:hover {
  background-color: #141714;
}

.secondary-button:active {
  position: relative;
  top: 1px;
}

.thirdly-button {
  margin-top: 10px;
  width: 100%;
  color: white;
  height: 40px;
  background-color: #4E5953;
}

.text-danger {
  color: #c40000;
  margin: 1px;
  font: small-caps bold 12px/2 cursive;
}

.pagination-block {
  margin: auto;
  position: center;
  padding: 10px;
  text-align: center;
  font-size: 1.1em;
  width: 30%
}

.center {
  text-align: center;
}

.pagination {
  padding: 10px;
  display: inline-block;
}

.pagination p {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
}

.pagination p.active {
  background-color: #4E5953FF;
  color: white;
  border: 1px solid #4E5953FF;
}

.pagination p:hover:not(.active) {
  background-color: #ddd;
}

.pagination p:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination p:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

h1 {
  margin: 10px;
  color: #141714;
  font: small-caps bold 35px/2 cursive;
}

h2 {
  margin: 8px;
  color: #141714;
  font: small-caps bold 28px/2 cursive;
}

h3 {
  margin: 6px;
  color: #141714;
  font: small-caps bold 22px/2 cursive;
}
h4 {
  margin: 2px;
  color: #141714;
  font: small-caps bold 18px/2 cursive;
}

button{
  cursor: pointer;
}

button:disabled{
  background-color: lightgray;
  cursor: auto;
}

body{
  width: 100vw;
}
