.main {
  width: 100%;
}

.message {
  margin-left: 50px;
}

table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 0 white;
  background-color: #FFF7F0;
  max-height: 500px;
}

th.mat-sort-header-sorted {
  color: black;
}

.avatar, .avatar-second {
  object-fit: cover;
  padding-top: 5%;
  width: 8em;
  height: 8em;
  border-radius: 50%;
}

.avatar-second {
  width: 4em;
  height: 4em;
}

.avatar-primary-container {
  width: 20%;
  padding-right: 1em;
}

.avatar-secondary-container {
  width: 10%;
  padding-right: 1em;
}

.container-message-date {
  width: 35%;
  text-align: center;
  padding-top: 7px;
  padding-right: 15px;
}

.container-time {
  text-align: center;
  color: rgba(78, 89, 83, 0.74);
  font-size: 0.9em;
}

.container-button-edit, .container-button-status {
  width: 6%;
}

.invite-button-reactions {
  margin-top: 5px;
  margin-bottom: 5px;
}

.button-action {
  margin-right: 5px;
  width: 80px;
}

.button-show-field {
  margin-right: 5px;
}

.moderator-add {
  display: block;
  padding: 8px 20px !important;
  margin: 20px 20px 0 auto;
}

.search-field {
  margin: 10px;
}

.expand-button {
  margin-right: 4.5em;
}


