<div>
  <div class="edit-ingredient">
    <h1>Edit ingredient</h1>
  </div>

  <div class="edit-ingredient__content">
    <img class="edit-ingredient__avatar" src="../../../../../assets/images/Orange.jpg" alt="orange">
    <div *ngIf="actualData!=null" [formGroup]="_form" class="form">

      <div>
        <label>Name: </label>
        <span>{{actualData?.name}}</span>
      </div>
      <div>
        <label>Category: </label>
        <span>{{actualData?.categoryName}}</span>
      </div>
      <div>
        <label>Amount: </label>
        <input placeholder="1" formControlName="amount"/>
      </div>
      <div>
        <label>Measure type: </label>
        <input placeholder="litres, kg, etc." formControlName="measureType"/>
      </div>
      <div>
        <button class="primary-button createButton" type="button" (click)="editStockIngredient()">Change</button>
        <button class="secondary-button clearButton" type="button" (click)="resetFormHandler()">Clear</button>
      </div>
    </div>
    <div *ngIf="actualData==null">No such ingredients</div>

  </div>
</div>
