.settings__img{
  margin: 50px 50px;
  width: 205px;
  height: 205px;
}

.settings__content{
  display: flex;
  align-items: flex-start;
}

.settings__buttons{
margin-bottom: 20px;
  padding: 50px 20px;
  width: 30%;
}

.settings__avatar{
  /*margin-left: 50px ;*/
  padding: 50px 20px;
  width: 150px;
  height: 150px;
}
