<div class="main" >

  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
  </mat-form-field>

  <button class="secondary-button ingredient-add" type="button" routerLink="/ingredients/add">Add ingredient </button>
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
         class="mat-elevation-z8">

    <ng-container matColumnDef="photoId">
      <th mat-header-cell *matHeaderCellDef sortActionDescription="">
        Photo
      </th>
      <td class="photo-container"  mat-cell *matCellDef="let element"><img class="photo" src="./assets/images/Orange.jpg" alt="photo"></td>
    </ng-container>

    <ng-container matColumnDef="ingredientId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by ID">
        ID
      </th>
      <td mat-cell *matCellDef="let element"> {{element.ingredientId}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
        Name
      </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by category">
        Category
      </th>
      <td mat-cell *matCellDef="let element"> {{element.category}} </td>
    </ng-container>

    <ng-container matColumnDef="editButton">
      <th mat-header-cell *matHeaderCellDef>

      </th>
      <td class="container-button-edit" mat-cell *matCellDef="let element">
        <button class="primary-button button-edit" type="button" routerLink="/ingredients/edit">EDIT</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="statusButton">
      <th mat-header-cell *matHeaderCellDef>

      </th>
      <td class="container-button-status" mat-cell *matCellDef="let element"><button class="primary-button">DELETE</button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of ingredients">
  </mat-paginator>
</div>
